@import "variables";
@media (min-width: 1200px) {

  .main__section1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    background-color: $dark-color;
    width: 100%;

    background-image: url(../images/ellipse3.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 380px;

  }

  .main__section1-h1 {
    margin-left: 191px;
  }

  .main__section1-p {
    margin-left: 191px;
  }

  .main__section-frame {
    margin-left: 191px;
  }

  .main__section2 {
    display: flex;
    align-items: center;
    background: #3c3c3c;
    height: 1460px;
  }

  .main__project {
    width: 1050px;
    height: 680px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    border-radius: 24px;
    padding: 16px;

    background-color: #fffef2;

  }

  .main__project-img1 {
    width: 100%;
    height: 498px;
    border-radius: 24px;
  }

  .main__project-h1 {
    color: rgb(86, 86, 86);
    font-family: $font-secondary;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
  }

  .main__project-p {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 700;
    line-height: 22px;
    text-align: left;

    width: 580px;
    height: 44px;
  }

  .main__project-arrow {
    position: absolute;
    right: 3%;
    top: 5%;

    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
  }

  .main__banking {
    width: 325px;
    height: 545px;
  }

  .main__banking-img1 {
    border-radius: 24px;
    width: 100%;
    height: 338px;
  }

  .main__banking-arrow {
    position: absolute;
    right: 10%;
    top: 6%;

    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
  }

  .main__banking-h1 {
    color: rgb(86, 86, 86);
    font-family: $font-secondary;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
  }

  .main__banking-p {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
  }

  .main__frame1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }

  .main__save {
    width: 325px;
    height: 545px;
  }

  .main__save-img1 {
    border-radius: 24px;
    width: 100%;
    height: 338px;
    position: relative;
  }

  .main__save-arrow {
    position: absolute;
    right: 10%;
    top: 6%;

    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
  }

  .main__save-h1 {
    color: rgb(86, 86, 86);
    font-family: $font-secondary;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
  }

  .main__save-p {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    margin-top: 20px;
  }

  .main__banking-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 325px;
    height: 545px;

    border-radius: 24px;
    padding: 20px;
    margin-top: 65px;

    background: #fffef2;
  }

  .main__banking-img2 {
    border-radius: 24px;
    width: 100%;
    height: 338px;
  }

  .main__banking-arrow2 {
    position: absolute;
    right: 10%;
    top: 6%;

    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
  }

  .main__banking-h2 {
    color: rgb(86, 86, 86);
    font-family: $font-secondary;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-top: 20px;
  }

  .main__banking-p1 {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    margin-top: 20px;
  }

  .main__section3 {
    display: flex;
    align-items: center;
    background: #202020;
  }

  .main__section3-h1 {
    color: rgb(255, 255, 255);
    font-family: $font-secondary;
    font-size: $font-size-xxl;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    margin-top: 82px;
    margin-right: 50px;
  }

  .main__section3-img1 {
    border-radius: 40px;
    width: 1055px;
    height: 414px;
    filter: grayscale(100%);
    margin-bottom: 20px;
  }

  .main__section3-container1 {
    position: relative;
    z-index: 2;
  }

  .main__section3-container1::before {
    content: url(../images/soft-star.svg);
    position: absolute;
    top: 110px;
    left: 440px;
    z-index: 1;
  }

  .main-section3-row {
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-top: 26px;
  }

  .main__section3-img2 {
    border-radius: 40px;
    width: 514px;
    height: 414px;
    filter: grayscale(100%);
    margin-bottom: 20px;
  }

  .main__section3-container2 {
    position: relative;
    z-index: 2;
  }

  .main__section3-container2::before {
    content: url(../images/butterfly.svg);
    position: absolute;
    top: 130px;
    left: 174px;
    z-index: 1;
  }

  .main__section3-container3 {
    position: relative;
    z-index: 2;
  }

  .main__section3-img3 {
    border-radius: 40px;
    width: 514px;
    height: 414px;
    filter: grayscale(100%);
    margin-bottom: 20px;
  }

  .main__section3-container3::before {
    content: url(../images/asteriks.svg);
    position: absolute;
    top: 130px;
    left: 174px;
    z-index: 1;
  }

  .main__section3-container3 {
    position: relative;
    z-index: 2;
  }
}

.main__section4 {
  height: 800px;
}

.main__section4-p {
  color: rgb(255, 255, 255);
  font-family: $font-secondary;
  font-size: $font-size-xl;
  font-weight: 700;
  line-height: 58px;
  text-align: center;

  width: 1059px;
  height: 174px;
}