@import "variables";
@media (min-width: 768px) {

  .main__section1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(32, 32, 32);
    width: 100%;

    background-image: url(../images/ellipse2.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 250px;
  }

  .main__section1-h1 {
    width: 492px;
    height: 58px;
    margin-top: 101px;

    color: rgb(250, 235, 73);
    font-family: $font-secondary;
    font-size: 47px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
  }

  .main__section1-p {
    color: rgb(255, 255, 255);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

    width: 524px;
  }

  .main__section-frame {
    display: flex;
    gap: 62px;
    margin-bottom: 102px;
  }

  .main__section2 {
    display: flex;
    align-items: center;
    background: #3c3c3c;
    height: 1590px;
  }

  .main__project {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    border-radius: 24px;
    padding: 16px;
    width: 700px;
    height: 680px;

    background: #fffef2;


    position: relative;
  }

  .main__project-img1 {
    width: 100%;
    height: 500px;
  }

  .main__project-h1 {
    width: 663px;
    height: 48px;

    color: rgb(86, 86, 86);
    font-family: $font-secondary;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
  }

  .main__save {
    width: 330px;
    height: 645px;

    padding: 20px;
  }

  .main__save-p {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

    margin-top: 10px;
  }

  .main__banking {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;

    border-radius: 24px;
    padding: 20px;
    margin-top: 65px;
    width: 335px;
    height: 645px;


    background-color: #fffef2;
  }

  .main__banking-img1 {
    border-radius: 24px;
    width: 100%;
    height: 449px;

  }

  .main__frame1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }

  .main__banking-h1 {
    color: rgb(86, 86, 86);
    font-family: $font-secondary;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 38px;
    text-align: left;

    margin-top: 20px;
  }

  .main__banking-p {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

    margin-top: 20px;
  }

  .main__project-arrow {
    position: absolute;
    right: 5%;
    top: 5%;

    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
  }

  .main__save-img1 {
    border-radius: 24px;
    width: 290px;
    height: 449px;

    margin: 0 auto;
  }

  .main__save-arrow {
    position: absolute;
    right: 10%;
    top: 6%;

    background-image: url("../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
  }

  .main__banking-img2 {
    border-radius: 24px;
    width: 311px;
    height: 278px;
  }

  .main__banking-arrow {
    position: absolute;
    right: 10%;
    top: 6%;
  }

  .main__banking-p {
    color: rgb(0, 0, 0);
    font-family: $font-primary;
    font-size: $font-size-root;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
  }

  .main__banking-1 {
    display: none;
  }

  .main__section3 {
    display: flex;
    align-items: center;
    height: 1260px;
    flex-direction: column;
    background: #202020;
  }

  .main__section3-h1 {
    color: rgb(255, 255, 255);
    font-family: $font-secondary;
    font-size: $font-size-xxl;
    font-weight: 700;
    line-height: 96px;
    text-align: left;
    margin-bottom: 38px;
    margin-top: 82px;
  }

  .main__section3-img1 {
    border-radius: 40px;
    width: 704px;
    height: 414px;
    filter: grayscale(100%);
    margin-bottom: 20px;
  }

  .main__section3-container1 {
    position: relative;
    z-index: 2;
  }

  .main__section3-container1::before {
    content: url(../images/soft-star.svg);
    position: absolute;
    top: 93px;
    left: 239px;
    z-index: 1;
  }

  .main-section3-row {
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-top: 26px;
  }

  .main__section3-img2 {
    border-radius: 40px;
    width: 343px;
    height: 325px;
    filter: grayscale(100%);
    margin-bottom: 20px;
  }

  .main__section3-container2 {
    position: relative;
    z-index: 2;
  }

  .main__section3-container2::before {
    content: url(../images/butterfly.svg);
    position: absolute;
    top: 97px;
    left: 104px;
    z-index: 1;
  }

  .main__section3-container3 {
    position: relative;
    z-index: 2;
  }

  .main__section3-img3 {
    border-radius: 40px;
    width: 343px;
    height: 325px;
    filter: grayscale(100%);
    margin-bottom: 20px;
  }

  .main__section3-container3::before {
    content: url(../images/asteriks.svg);
    position: absolute;
    top: 87px;
    left: 94px;
    z-index: 1;
  }

  .main__section3-container3 {
    position: relative;
    z-index: 2;
  }
}

.main__section4 {
  height: 800px;
}

.main__section4-p {
  color: rgb(255, 255, 255);
  font-family: $font-secondary;
  font-size: $font-size-xl;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  width: 704px;
  height: 232px;
}